@use "../variables/colors" as colors;
@import "../variables/breakpoints";

body {
	background-color: colors.$white;
}

.hero {
	&-section {
		@include sc-breakpoint(768) {
			margin-top: 15%;
		}

		@include sc-breakpoint(1024) {
			margin-top: 25%;
		}

		.text-bubble {
			transform: translateY(30px);
		}
	}

	&-section__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;

		@include sc-breakpoint(768) {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 15px;
		}

		img {
			width: 100%;
			border-radius: 15px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 10px 0 10px;

		@include sc-breakpoint(768) {
			padding: 50px 90px 20px 90px;
		}

		@include sc-breakpoint(1024) {
		}
	}

	&__sup-title {
		margin: 0;
	}

	&__title {
		margin: 0;
		padding: 10px 0;

		@include sc-breakpoint(768) {
			padding: 30px 80px;
		}
	}

	// &__title,
	// &__text {
	// 	width: 60%;
	// }
}

.text-bubble {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;

	.bubble__number {
		background-color: colors.$white;
	}
}
