@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.button {
	height: 60px;
	padding: 15px 20px;
	border-radius: 30px;
	border: none;
	color: colors.$white;

	&--blue {
		width: 200px;
		background-color: colors.$tiffany-blue;

		span {
			color: colors.$tirquoise-blue;
		}
	}

	&--purple {
		width: 140px;
		background-color: colors.$dark-purple;

		span {
			color: colors.$light-purple;
		}
	}
}

button:hover {
	cursor: pointer;
}
