@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.footer {
	position: relative;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("/src/images/mobile/image-footer.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@include sc-breakpoint(768) {
		background-image: url("/src/images/tablet/image-footer.jpg");
	}
	@include sc-breakpoint(1024) {
		height: 300px;
		background-image: url("/src/images/desktop/image-footer.jpg");
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: colors.$tiffany-blue;
		opacity: 0.8;
	}

	&__content {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		padding: 0 50px;
		text-align: center;

		@include sc-breakpoint(1024) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-content: center;
			text-align: left;
		}
	}

	&__title,
	&__text {
		margin: 0;
	}

	&__text {
		@include sc-breakpoint(1024) {
			padding: 0 20px;
		}
	}

	.button--purple {
		&:hover {
			background-color: colors.$light-purple;
		}

		@include sc-breakpoint(540) {
			width: 30%;
		}

		@include sc-breakpoint(1024) {
			width: 50%;
			justify-self: center;
		}
	}
}
