@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 50px;
	margin: 40px 0 80px 0;

	&__content {
		padding: 0 40px;
		@include sc-breakpoint(768) {
			padding: 0 179px;
		}
	}

	&__title,
	&__text {
		margin: 0;
	}

	&__image-bubble {
		display: flex;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include sc-breakpoint(768) {
			flex-direction: row;
			align-items: baseline;
			gap: 15px;
		}

		.button--blue {
			margin-bottom: 15px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
}

.image-bubble {
	&__container {
		width: 100%;
		height: auto;
		min-height: 140px;

		@include sc-breakpoint(1024) {
			display: flex;
			background: none;
		}
	}

	&__desktop {
		width: 100%;

		img {
			width: inherit;
		}
	}

	&__left,
	&__right {
		@include sc-breakpoint(1024) {
			width: 50%;
			height: 400px;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	&__left {
		@include sc-breakpoint(1024) {
			background-image: url("/src/images/desktop/image-hero-left.png");
		}
	}

	&__right {
		@include sc-breakpoint(1024) {
			background-image: url("/src/images/desktop/image-hero-right.png");
		}
	}
}

.bubble {
	&__line {
		height: 80px;
		width: 1px;
		background-color: colors.$light-gray;
	}

	&__number {
		width: 36px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 10px;
		border: 1px solid colors.$light-gray;
		border-radius: 50%;
	}
}
